
.hero-banner {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.name {
    color: #345f8a;
}

.overlay img {
    width: 5%;
}

.intro-buttons {
  display:flex;
  margin: 2% auto;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    width: 100%;
  }
}

.intro-button {
    margin: 1.2%;
    padding: .7%;
    width: 10%;
    background-color: white;
    color: #345f8a;
    border: 4px solid #345f8a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    transition: ease-in-out .1s;

    &:hover {
      background-color: #345f8a;
      color: white;
  }

  @media only screen and (max-width: 900px) {
    width: 15%;
  }

  @media only screen and (max-width: 600px) {
    font-size: .8rem;
    margin: 6% 0;
    width: 20%;
  }
}


.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
    color: black;
    font-size: 7.5rem;
    font-family: 'Archivo Black', sans-serif;

    @media only screen and (max-width: 900px) {
      margin: 0 auto;

    }

    @media only screen and (max-width: 600px) {
      font-size: 3.2rem;
      width: 90%;
      height: 88%;
    }
}

.subtitle {
    font-size: 3.5rem;

    @media only screen and (max-width: 600px) {
      font-size: 2.4rem;
      width: 90%;
      margin: 2% auto;
    }
}

#more-arrows {
	width: 75px;
  height: 65px;
  
  &:hover {
    
    polygon {
      fill: rgb(0, 0, 0);
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
  
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}