
.hero-banner {
    height: 85vh;
    background-image: url('https://gdurl.com/40M8');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    /* margin: auto; */
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.479);
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
    color: white;
    font-size: 7.5rem;
    /* background-color: lightgrey; */
    /* font-family: 'IBM Plex Serif', serif; */
    font-family: 'Archivo Black', sans-serif;
}

.subtitle {
    font-size: 3.5rem;
    /* border: 1px solid red; */
}