.skills-section {
    width: 100%;
    padding: 4% 0 0 0;
}

.skill-title {
  font-size: 4rem;
  color: white;
  margin: 0 auto;
  width: 100%;
  padding: 1% 0;
}

.skills-blocks {
    display: flex;
    width: 75%;
    margin: 1% auto 3%;
    justify-content: space-between;
}

.block {
    width: 11%;
    padding: 0 2%;
    font-size: 1.4rem;
    color: #2E2E2E;
    text-align: center;
    filter: grayscale(100%);
    transition: ease-in-out .5s;
    position: relative;
}

.desc-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.block:hover {
    filter: none;
    transform: scale(1.2);
    color: white;
}

.block p {
    text-align: justify;
    padding: 7%;
}

.block img {
    padding: 2%;
    width: 90%;
    max-height: 90%;
}

.about-sec {
    width: 100%;
    color: white;
    padding: 2% 0 1% 0;
}

.about-content {
    width: 55%;
    margin: 0 auto;
    padding: 3%;
    display:flex;
    flex-direction: column;
    background-color: rgb(46, 46, 46);

    img {
        padding-right: 1%;
    }

    p {
        text-align: left;
        width: 100%;
        font-size: 1.6rem;
    }
}

.about-copy {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 75%;

    h4 {
        font-size: 2.1rem;
        text-align: left;
        margin-bottom: 4%;
    }
}

.socials {
    display:flex;
    flex-direction: row;
    margin: 2% 0;

    img {
        padding: 1% 2% 0 0;
        width: 40px;
        height: 40px;
        filter: grayscale(100%);
        transition: ease-in-out .35s;

    }

    img:hover {
        filter: none;
    }
}

.about-title {
    padding: 1% 0;
    font-size: 4rem;
}

.profile-pic {
    width: 30%;


    img {
        width: 100%;
        box-shadow:
  0 23px 46px -19px rgba(0, 0, 0, 0.3)
;
    }
}

.about-only {
    display:flex;
    flex-direction: row;
}