/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=IBM+Plex+Serif:ital,wght@0,500;0,600;0,700;1,500;1,700&family=Judson&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN */

* {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* .loader {
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 1;
} */

.App {
  /* position: fixed; */
  /* display: none; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.795); */
  z-index: 2;
  /* cursor: pointer; */
  opacity: 1;
  transition: ease-in-out .7s;
}

.App.hidden {
  /* display: none; */
  transition: ease-in-out .7s;
  opacity: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h2, h3{
  font-family: 'Judson', serif;
}

/* header {
  visibility: hidden;
} */

.hero {
  background-color: rgb(46, 46, 46);
  /* min-height: 100vh; */
}

.navbar.hidden {
  background-color: white;
  opacity: 0;
}

.navbar {
  transition: all .5s;
  opacity: 1;
  width: 100%;
  z-index: 5;
  background-color: rgb(60, 60, 63);
  position: fixed;
}

.nav-content {
  display: flex;
  padding: .3% 0;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  color: white;
  /* border: 2px solid red; */
  width: 40%;
  margin: auto;
  font-style: italic;
  font-size: 4rem;
  font-family: 'Archivo Black', sans-serif;
}

.links {
  /* margin: 1%; */
  display: flex;
  width:80%;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.7rem;
  font-weight: 100;
  /* border: 2px solid red; */
}

.links a {
  margin: 2%;
  padding-right: 2%;
  transition: ease-in-out .2s;
}

.links a:hover {
  color: #4dbd3f;
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 2% 0;
}

a {
  text-decoration: none;
  color: white;
}

.proj-sec {
  font-size: 4rem;
  color: white;
  /* background-color: white; */
  /* background-image: url("https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background-color: #345f8a; */
  margin: 0 auto;
  width: 100%;
  padding: 2% 0 0 0;
}

.port-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 65%;
  margin: 1% auto;
  padding: 2%;
  height: 50%;
  /* background-color: rgb(199, 199, 199); */
  /* border: 1px solid black; */
}

.port-item img {
  width: 40%;
  height: 25%;
  border: 20px solid lightgray;
  border-style: double;
}

.port-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 4%;
  color: white;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

.port-desc h3 {
  /* text-transform: uppercase; */
  font-size: 3rem;
  font-weight: 300;
  padding: 2% 0;
  text-align: left;
  /* height: 100%; */
}

.port-desc p {
  text-align: left;
  width: 80%;
  font-size: 1.4rem;
}

.proj-buttons {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* justify-self: flex-end; */
  /* align-items: baseline; */
  text-align: left;
  padding-top: 20%;
  /* height: 100%; */
  /* border: 1px solid red; */
}

.proj-buttons button {
  margin-right: 2%;
  width: 15%;
  height: 30%;
  background-color: #4dbd3f;
  border: none;
  color: white;
  padding: 2%;
  transition: ease-in-out .16s;
  /* padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */
}

.proj-buttons button:hover{
  background-color: #6bc260;
  cursor: pointer;
}

.contact-modal {
  width: 100%;
  height: 100%;
  color:black;
  background-color: rgba(0, 0, 0, 0.781);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-modal h1 {
  color: white;
  font-size: 2.4rem;
  padding-bottom: .2%;
  text-align: center;
}

.form-content {
  display: flex;
  justify-content: space-between;
  /* margin: 1%; */
  /* border: 1px solid red; */
  width: 100%;
}

.form-content img {
  width: 35%;
  height: 8%;
  margin-right: 3%;
}

.ct-form {
  text-align: left;
  margin-left: 2%;
}

.ct-form {
  width: 100%;
  /* border: 1px solid red; */
}

.modal-content {
  width: 600px;
  height: 420px;
  background-color: rgb(132, 133, 136);
  /* border-radius: 8px; */
  /* border: 1px solid white; */
  text-align: left;
  padding: 3%;
  padding-bottom: 6%;
  position: relative;
  box-shadow: 5px 1px 30px #00000052;
  /* margin: 0 auto; */
}

.modal-send {
  background-color: #3eb12f;
  /* background-color: #33875d; */
  border: none;
  color: white;
  padding: 15px 32px;
  border: 1px solid #4dbd3f; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out .16s;
  /* position: absolute; */
  bottom: 0;
  right: 0;
  /* width: 100%; */
}

.form-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display:flex;
  flex-flow: row-reverse;
}

.form-buttons a {
  width: 50%;
}

.modal-cancel {
  background-color: #989e98;
  /* background-color: #33875d; */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out .16s;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  /* width: 40%; */
  border: 1px solid white;
  /* border-radius: 8px; */
}

label {
  text-align: left;
  color: white;
  font-size: 1.25rem;
  /* margin-bottom: 5%; */
}

.modal-cancel:hover {
  background-color: #abafab;
  cursor: pointer;
}

.modal-send:hover {
  background-color: #76b96d;
  cursor: pointer;
}

.close {
  transform: rotate(45deg);
  position: absolute;
  color: white;
  font-size: 2.9rem;
  top: 3px;
  right: 14px;
  cursor: pointer;
}

input {
  display: block;
  width: 100%;
  height: 13%;
  font-size: 1.2rem;
  margin-bottom: 7%;
  margin-top: 2%;
  text-align: left;
  background-color: rgb(132, 133, 136);
  border: 1px solid white;
  color:white;
}

input:focus {
  outline: none;
}

textarea {
  text-align: left;
  color: white;
  width: 100%;
  height: 70%;
  font-size: 1.3rem;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(132, 133, 136);
  border: 1px solid white;
  outline: none;
  resize: none;
}

.contact-sec {
  background-color: #345f8a;
  /* background-color: rgba(110, 86, 218, 0.658); */
  margin: 0 auto;
  width: 100%;
  padding: 3% 0;
  color: white;
  font-size: 2rem;
}

.contact-sec h2 {
  font-size: 4.5rem;
  color: white;
  padding-bottom: 1%;
}

.cta-button {
  background-color: #4dbd3f;
  /* background-color: #33875d; */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out .16s;
}

.cta-button:hover {
  background-color: #7ac071;
  cursor: pointer;
}

.footer-sec {
  color: rgb(197, 196, 196);
  background-color: rgba(46, 46, 46, 0.658);
  /* margin: 0 auto; */
  width: 100%;
  padding: 3.5% 0 2% 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.footer-sec h3 {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5%;
}

.footer-sec a {
  color: rgb(197, 196, 196);
  padding-bottom: 1%;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  transition: ease-in-out .2s;
}

.footer-sec a:hover {
  color: #4dbd3f;
  cursor: pointer;
}

.contact-form {
  display:flex;
  flex-direction: column;
  text-align: left;
}

.contact-form input {
  width: 20%;
  height: 100px;
}

.return {
  position: fixed;
  font-size: 6rem;
  font-weight: 700;
  border-radius: 50%;
  bottom: 5%;
  right: 3%;
  width: 3%;
  height: 6%;
  /* background-color:#494949; */
  /* border: 2px solid rgb(71, 71, 71); */
  color: white;
  filter: invert(100%);
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}

.return.hidden {
  opacity: 0;
}