/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=IBM+Plex+Serif:ital,wght@0,500;0,600;0,700;1,500;1,700&family=Judson&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN */

* {
  text-align: center;
}

p {
  font-family: 'Judson', serif;
}

h2, h3{
  font-family: 'Judson', serif;
}

.hero {
  background-color: rgb(46, 46, 46);
  min-height: 100vh;
}

.navbar {
  width: 100%;
  background-color: rgba(60, 60, 63, 0.384);
}

.nav-content {
  display: flex;
  padding: 1.5% 0;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  color: white;
  /* border: 2px solid red; */
  width: 40%;
  margin: auto;
  font-style: italic;
  font-size: 4rem;
  font-family: 'Archivo Black', sans-serif;
}

.links {
  /* margin: 1%; */
  display: flex;
  width:80%;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.7rem;
  font-weight: 100;
  /* border: 2px solid red; */
}

.links a {
  margin: 2%;
  padding-right: 2%;
  transition: ease-in-out .2s;
}

.links a:hover {
  color: #4dbd3f;

}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 2% 0;
}

a {
  text-decoration: none;
  color: white;
}

.proj-sec {
  font-size: 4rem;
  color: white;
  background-color: rgba(63, 63, 63, 0.658);
  margin: 0 auto;
  width: 100%;
  padding: 2% 0;
}

.port-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 65%;
  margin: 1% auto;
  padding: 2%;
  height: 50%;
  /* background-color: rgb(199, 199, 199); */
  /* border: 1px solid black; */
}

.port-item img {
  width: 40%;
  height: 25%;
  border: 20px solid lightgray;
  border-style: double;
}

.port-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 4%;
  color: white;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

.port-desc h3 {
  /* text-transform: uppercase; */
  font-size: 3rem;
  font-weight: 300;
  padding: 2% 0;
  text-align: left;
  /* height: 100%; */
}

.port-desc p {
  text-align: left;
  width: 80%;
  font-size: 1.4rem;
}

.proj-buttons {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* justify-self: flex-end; */
  /* align-items: baseline; */
  text-align: left;
  padding-top: 20%;
  /* height: 100%; */
  /* border: 1px solid red; */
}

.proj-buttons button {
  margin-right: 2%;
  width: 15%;
  height: 30%;
  background-color: #4dbd3f;
  border: none;
  color: white;
  padding: 2%;
  transition: ease-in-out .16s;
  /* padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */
}

.proj-buttons button:hover{
  background-color: #6bc260;
}

.contact-sec {
  font-size: 4.5rem;
  color: white;
  background-color: rgba(98, 140, 219, 0.658);
  /* background-color: rgba(110, 86, 218, 0.658); */
  margin: 0 auto;
  width: 100%;
  padding: 3% 0;
}

.cta-button {
  background-color: #4dbd3f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out .16s;
}

.cta-button:hover {
  background-color: #7ac071;
}

.footer-sec {
  color: rgb(197, 196, 196);
  background-color: rgba(46, 46, 46, 0.658);
  /* margin: 0 auto; */
  width: 100%;
  padding: 3.5% 0 2% 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.footer-sec h3 {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5%;
}

.footer-sec a {
  color: rgb(197, 196, 196);
  padding-bottom: 1%;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  transition: ease-in-out .2s;
}

.footer-sec a:hover {
  color: #4dbd3f;
}